/* Chad Bacon */
/* Git 414 2024 Spring B */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

/* After Reset */
:root {
	font-size: 16px;
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
}

#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus {
	position: static;
	width: auto;
	height: auto;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	line-height: 1.35;
	box-sizing:border-box;
	margin: 20px 0;
	padding:0;
}


h1,
h2,
h3 {
	font-family: "Molle";
	margin: auto;
	padding: 1rem;
}

h4,
p,
q,
small,
nav,
button,
form {
	font-family: "Montserrat";
}
img{
	width: 100%;
}

/* PLAN */
#plan {
	background-color: var(--yellow);
	/* text-align: center; */
	font-size: 2rem;
	padding-bottom: 1rem;
}

#plan div{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: fit-content(90%);
	grid-column: 1/-1;
	grid-gap: 0.5em;
	justify-content: center;

}
#plan div section {
	grid-column: 2/3;
	background-color: var(--teal);
	border:2px solid var(--white);
	border-radius: 10px;
	justify-items: center;
	text-align: center;
}
#plan h4{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px;
	margin: 0 auto
}
#plan img{
	padding: 10px;
	width: fit-content;
}

/* TESTMONIALS */
#testimonials {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-column: 1/-1;
	justify-content: center;
	font-size: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}
#testimonials h3{
	margin-left: 1.5rem;
}
#testimonials h4{
	grid-column: 1/-1;
	font-size: 1.5rem;
	font-weight: bold;
	/* padding: 10px; */
	margin: 0 auto
}
#testimonials div{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-column: 1/-1;
	grid-gap: 0.5em;
	justify-content: center;

}
#testimonials div section{
	display: grid;
	grid-column: 2/3;
	justify-content: center;
	font-size: small;
}
#testimonials img {
	width: 80%;
	justify-self: center;
}
/* About */
#about{
	display: grid;
	grid-template-columns: 10% 80% 10%;
	text-align: center;
	background-color: var(--blue);
	font-size: 2rem;
	padding-bottom: 1rem;
}
#about h3 {
	margin-left: 1.5rem;
	grid-column: 1/-1;
}
#about h4 {
	font-size: 1.5rem;
	font-weight: bold;
}
#about p{
	color: var(--dark-gray);
}
#about div {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(2 ,minmax(100px,2fr));
	grid-column: 1/-1;
}
#about section{
	padding: 20px;
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
	font-size: 1rem;
}
#about img {
	height: 6rem;
	justify-content: center;
}
/* ~~~~~~~~~~~~~~~~~ contact us ~~~~~~~~~~~~~~~~~~~ */
#contact {
	display: grid;
	grid-template-columns: 10% 80% 10%;
}
#contact h3 {
	font-size: 2rem;
	grid-column: 1/-1;
}
#contact span {
	font-family: "Montserrat";
	font-size: 1rem;
	/* font-style: italic; */
}
#contact form{
	grid-column: 2/3;
}

/* #contact form div{
	padding: 0 1em;
} */

#contact label {
	display: block;
	font-weight: bold;
	align-items: center;
}

#contact form input , select {
	display: inline-block;
	padding: 1em;
	margin-bottom: 1em;
	color: var(--dark-gray);
	border: 2px solid var(--purple);
	width: 90%;
}

[class="form-required"] {
	font-style: italic;
}

[class="required"] {
	color: var(--purple);
}
#contact form fieldset input{
	width: 3rem;
	height:3rem;
	margin-right: 1em;
	accent-color: var(--purple);
}
#contact form fieldset label {
	display: flex;
	font-weight: normal;
	font-style:normal;
}

legend{
	font-weight: bold;
}
select {
	-webkit-box-sizing: content-box;
	accent-color: var(--purple);
}
/* select a[value]{
	fill: var(--dark-gray);
} */
